<div class="profile-header">
  <div>
<!--   <p-avatar
    [image]="profileImage"
    [label]="!profileImage ? initials : undefined"
    size="xlarge"
    shape="circle"
    styleClass="profile-avatar">
  </p-avatar> -->

  <div class="profile-info">
    <h2 class="profile-name">{{ name }}</h2>
    <p class="profile-title">{{ title }}</p>
  </div>
  </div>

  <div>
    <p class="about-text">Atuo com desenvolvimento front-end desde 2019, principalmente em aplicações corporativas construídas com Angular. Gosto de trabalhar em times pequenos e focar em interfaces claras, performáticas e fáceis de manter — do design system até a integração com APIs.</p>
  </div>
</div>
