.container-info{
  display: flex;
 flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.container{
  display: flex;
  gap: 10px;
  flex-direction: column;
}

h4{
  color: #6b6b6b;
  text-transform: uppercase;
}
